:root {
  --main-bg-color: pink;
  --main-text-color: #000;
  --main-text-shadow: white;
  --second-text-shadow: salmon;
  --text-shadow-color: #3a86ff;
  --display-bg: #90be6d;
  --btn-color: #ffbe0b;
  --btn-add-color: #8338ec;
  --btn-sub-color: green;
  --btn-mul-color: #fb5607;
  --btn-div-color: #3a86ff;
  --btn-dot-color: #000;
  --btn-equal-color: #ff006e;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
}


body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 0;
  margin: 0;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  background-color: var(--btn-color);
  border: 2px solid var(--main-text-color);
  text-shadow: 2px 2px var(--display-bg);
  box-shadow: 6px 6px var(--btn-add-color);
  border-radius: 6px;
}

.calculator-grid > .btn-ac {background-color: var(--btn-mul-color);}
.calculator-grid > .btn-div {background-color: var(--btn-div-color);}
.calculator-grid > .btn-mul {background-color: var(--btn-mul-color);}
.calculator-grid > .btn-add {background-color: var(--btn-add-color);}
.calculator-grid > .btn-sub {background-color: var(--btn-sub-color);}
.calculator-grid > .btn-equal {background-color: var(--btn-equal-color);}

.calculator-grid > .btn-div,
.calculator-grid > .btn-mul,
.calculator-grid > .btn-add,
.calculator-grid > .btn-sub,
.calculator-grid > .btn-equal {
  text-shadow: 2px 2px var(--btn-color);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .85);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  box-shadow: 6px 6px var(--btn-add-color);
  border: 2px solid var(--main-text-color);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 6px;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .85);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}
